.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pickerContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputLabel {
  position: absolute;
  top: -1.25rem;
  left: 0rem;
  background-color: #efe9e3;
  padding: 0 0.6rem;
  color: #000085;
  font-weight: 800;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  z-index: 10;
}

.customSelect {
  position: relative;
  width: 80px;
}

.selectHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  transition: all 0.2s;
  height: 43px;
}

.selectHeader:hover,
.selectHeader.active {
  border-color: #007bff;
}

.rotate {
  transform: rotate(180deg);
}

.optionsList {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 999;

  max-height: 180px;
  overflow-y: auto;
}

.optionsList::-webkit-scrollbar {
  width: 6px;
}
.optionsList::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.optionItem {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
}

.optionItem:hover {
  background: #f0f7ff;
}

.optionItem.selected {
  background-color: #004452;
  color: white;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.nativeSelect,
.yearInput {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.yearInput {
  width: 80px;
  height: 43px;
}
