.heroBanner {
    display: block;
    position: relative;
    width: 99%;
    aspect-ratio: 9/4;
    background-color: #93c5fd; /* Thay cho blue-300 */
    padding: 4rem;
    border-radius: 1.25rem;
    overflow: hidden; /* Tránh nội dung con tràn ra ngoài */
}

.recommendBox {
    z-index: 10;
    display: flex;
    height: fit-content;
    width: 30%;
    margin: 0.75rem;
    border-radius: 1.25rem;
    aspect-ratio: 6/5;

    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ea580c; /* Thay cho orange-600 */
    color: white; /* Thêm để thấy chữ */
}

@media screen and (min-width: 48rem) {
    .heroBanner {
        aspect-ratio: 17/5;
        min-height: auto; /* Để aspect-ratio hoạt động hiệu quả hơn */
    }
    .recommendBox {
        aspect-ratio: 6/3;
        min-height: auto;
    }
}