# external API
WIKI_BASE_URL=
GOONG_GEOCODE_URL=
# LLM & NLP service
LLM_URL=
LLM_MODEL=
# other config
TTS_VOICE=
# url & port using to host service
API_URL=
PORT=
ALLOW_PORT=
# Secrets key
GOONG_API_KEY=
# external api
WEATHER_API_KEY=
SERP_API=