# external API
GOONG_API_KEY=
WIKI_BASE_URL=
GOONG_GEOCODE_URL=
# LLM & NLP service
WHISPER_MODEL=
LLM_MODEL=
# other config
TTS_VOICE=
# url & port using to host service
API_URL=
PORT=
# Secrets key
GOONG_API_KEY=