# --- Python & FastAPI ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# --- Environment & Secrets (CỰC KỲ QUAN trọng) ---
.env
.flaskenv
serviceAccountKey.json

# --- Virtual Environments ---
venv/
.venv/
env/

# --- IDE & Editors ---
.vscode/
.idea/
*.swp

# --- OS Files ---
.DS_Store
Thumbs.db