fastapi 
uvicorn 
faster-whisper
python-multipart
firebase-admin 
sqlalchemy 
psycopg2-binary 
python-dotenv
apscheduler
httpx

transformers 
torch 
edge-tts 
requests 
sentencepiece

langchain
langchain-core
langchain-classic
langchain-community
langchain-ollama